html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, em, img, ins, kbd, q, strike, strong, sub, sup, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, th, embed {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
ol, ul {
list-style: none;
}
li {
display: list-item;
text-align: -webkit-match-parent;
}
#overlay {
visibility: hidden;
position: absolute;
left: 0px;
top: 0px;
width:100%;
height:100%;
text-align:center;
z-index: 1000;
}
#overlay div {
width:300px;
margin: 100px auto;
background-color: #fff;
border:1px solid #000;
padding:15px;
text-align:center;
}
.glyphicon-refresh-animate {
-animation: spin .7s infinite linear;
-webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
from { -webkit-transform: rotate(0deg);}
to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
from { transform: scale(1) rotate(0deg);}
to { transform: scale(1) rotate(360deg);}
}
.accesstoken{
display: block;
float: left;
width: 1000px;
margin-left: 300px;
color: black;
font-size: 20px;
margin-bottom: 40px;
background: lightgrey;
border: 1px solid lightgrey;
width: auto;
padding: 16px;box-shadow: 10px 10px 5px #888;
}
.content{
min-width: 1000px;
font: 87.5%/142.9% Arial,Helvetica,sans-serif;
text-align: center;
background-color: #f9f9f9;
}
.headertitle{
font-family: Arial,Helvetica,sans-serif;
font-size: 1.455em;
font-weight: 700;
color: #006a5a;
margin-left: 10px;
font-stretch: expanded;
}
.ais-table{
float: left;
margin-left: 10px;
box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.08);
border: 1px solid #DEDEDE;margin: 10px;
width: 517px;
font-family: sans-serif;
font-size:14px;
}
.ais-tableheader{
padding: 10px;
border: 1px solid #DEDEDE;
text-align:center;
font-family: sans-serif;
font-size:14px;
}
.ais-tablecell{
padding: 10px;
border: 1px solid #DEDEDE;
text-align: center;
font-family: sans-serif;
font-size: 14px;
}
/* .ais-remit{
width: 370px;
float: left;
border: none;
padding: 10px;
text-align: center;
font-family: sans-serif;
font-size: 14px;
} */
.tabletitle{
font-family: Arial,Helvetica,sans-serif;
font-size: 1.143em;
font-stretch: condensed;
color: white;
background:linear-gradient(#009286 , #1B524E);
padding: 5px;
padding-left: 13px;
margin-bottom: 10px;
}
.mcf-page-wrapper {
position: relative;
margin: 0 auto;
text-align: center;
width: 100%;
}
.mcf-content-wrapper {
width: 1000px;
height: auto!important;
text-align: center;
margin: 0 auto;
padding-top: 83px;
}
.mcf-personalspace {
float: left;
position: relative;
z-index: 1;
margin: 52px 0 20px;
float: left;
margin-right: 0px;
margin-right: 0px;
margin-bottom: 200px;

}
.inputdetails{
box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.08);
border: 1px solid #DEDEDE;
margin: 10px;
}
.inputdetailstitle{
font-family: Arial,Helvetica,sans-serif;
    font-size: 1.143em;
    font-stretch: condensed;
    color: white;
    background: linear-gradient(#009286 , #1B524E);
    padding: 5px;
    padding-left: 13px;
    margin-bottom: 10px;
}
.inputdetailsbutton{
float: right;
font-family: Arial,Helvetica,sans-serif;
font-size: 1.143em;
margin-right: 10px;
background: linear-gradient(#009286 , #1B524E);
color: white;
font-stretch: condensed;text-decoration: none;
border-radius: 2px;border: 0 rgba(0,0,0,0);padding: .5em 1em;display: inline-block;
vertical-align: middle;-webkit-appearance: button;
cursor: pointer;	
}
.pageheaderwrapper{
text-align: center;
position: absolute;
top: 0;
left: 0;
min-height: 84px;
width: 100%;
height: 95px;
background: rgb(195, 130, 45);
}
.pageheader{
background: linear-gradient(dimgrey,#B3B0AD);
width: 1000px;
margin: 0 auto;
padding: 0;
min-height: 84px;
text-align: left;
position: relative;
}
.logo{
position: absolute;
top: 16px;margin-left: -121px;
margin-top: -18px;
}
.nav{
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
text-align: left;
margin: 0 0 0 32px;
clear: both;
left: 41px;
bottom: 0;
margin-top: 46px;
margin-left: 71px;
position: relative;
float: left;
}
.brandbar{
    height: 146px;
    background: url('/Demo/resources/images/mcf-brandbar.png') no-repeat 50% 8px;
    clear: both;
    width: 100%;
    position: relative;
    color: #fff;
    margin-bottom: 7px;
    z-index: 11;
}
.mcf-footer {
    background: linear-gradient(#d8d8d8,#f9f9f9);
    text-align: left;
    height: 110px;
    height: auto!important;
    min-height: 93px;
    width: 100%;
    clear: both;
    font-size: .929em;
    color: #555;
}
.mcf-maincontent {
float: right;
margin-bottom: 10px;
text-align: left;
float: left;
padding: 36px;
padding-top: 5px;
padding-left: 0px;
padding-bottom: 0px;
width: 570px;
}
.mcf-nav{margin:0 0 0 32px;clear:both}
.mcf-nav h1{display:none}
.mcf-nav ul{margin:0;clear:both}
.mcf-nav li{float:left;padding:0;margin-right:1px}
.mcf-nav li a{display:block;line-height:40px;padding:0 15px 0 0;text-decoration:none}
.mcf-nav-segment{width:243px;height:20px;position:absolute;margin-left:313px;top:8px}
.mcf-nav-segment a{color:#666;text-decoration:none}
.mcf-nav-segment a:hover,.mcf-nav-segment a:focus,.mcf-nav-active a{color:#009286;text-decoration:none}
.mcf-nav-active a{font-family:Arial bold,Helvetica,sans-serif;font-weight:bold}
.mcf-nav-main{position:absolute;left:41px;bottom:0;margin-top: 46px;
margin-left: 71px;position: relative;
float: left;}
.mcf-nav-main li{margin:0 20px 0 0}
.mcf-nav-main li a{ffont-family: Arial,Helvetica,sans-serif;
    color: #fff;
    padding: 3px 5px 0 5px;
    height: 38px;}
.mcf-nav-main li a:hover,.mcf-nav-main li a:focus{
text-decoration:none;
color:#fff;line-height:18px;padding:14px 5px 0 5px;height:23px}
.mcf-nav-main .mcf-nav-active a{border-bottom:5px solid #fdce05;text-decoration:none;padding-bottom:0;height:18px}
.mcf-nav-main .mcf-nav-active a:hover,.mcf-nav-main .mcf-nav-active a:focus{background:0;height:18px}
.mcf-footer .mcf-copyright {
float: right;
display: block;
width: auto;
padding: 1px 0 0;
}
.mcf-footer-wrapper {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAMCAQAAADSObX+AAAAfklE…tMsnxTNI659/c+RzwZoQDWH2TxhmRWfmy9xzkAO49OU193q5QKLAgCVRjAAAAAElFTkSuQmCC') no-repeat 32px -1px;
    width: 1000px;
    height: 24px;
    margin: 0 auto;
    padding: 11px 0 0 0;
}
.mcf-maincontent-leanbackward {
float: left;
padding: 36px;
padding-top: 5px;
padding-left: 0px;
padding-bottom: 0px;
width: 1100px;
margin-bottom: 10px;
text-align: left;
}
.pis-response{
float: left;
margin-left: 9px;
box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.08);
border: 1px solid #DEDEDE;
background-color: 1px solid #ccc;
padding: 20px;
width: 518px;
overflow-y: scroll;
height: 368px;
}

.mcf-page-header-wrapper {
    background: url('/Demo/resources/images/mcf-header-nav.jpg') no-repeat center bottom #fff;
    height: 84px;
    min-height: 84px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
.mcf-page-header {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    min-height: 84px;
    text-align: left;
    position: relative;
}
.mcf-logo {
    position: absolute;
    top: 16px;
    margin-left: 32px;
}
.pure-form input[type=text],.pure-form input[type=password],.pure-form input[type=email],.pure-form input[type=url],.pure-form input[type=date],.pure-form input[type=month],.pure-form input[type=time],.pure-form input[type=datetime],.pure-form input[type=datetime-local],.pure-form input[type=week],.pure-form input[type=number],.pure-form input[type=search],.pure-form input[type=tel],.pure-form input[type=color],.pure-form select,.pure-form textarea{padding:.5em .6em;display:inline-block;border:1px solid #ccc;box-shadow:inset 0 1px 3px #ddd;border-radius:4px;vertical-align:middle;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.pure-form input:not([type]){padding:.5em .6em;display:inline-block;border:1px solid #ccc;box-shadow:inset 0 1px 3px #ddd;border-radius:4px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.pure-form input[type=color]{padding:.2em .5em}
.pure-form input[type=text]:focus,.pure-form input[type=password]:focus,.pure-form input[type=email]:focus,.pure-form input[type=url]:focus,.pure-form input[type=date]:focus,.pure-form input[type=month]:focus,.pure-form input[type=time]:focus,.pure-form input[type=datetime]:focus,.pure-form input[type=datetime-local]:focus,.pure-form input[type=week]:focus,.pure-form input[type=number]:focus,.pure-form input[type=search]:focus,.pure-form input[type=tel]:focus,.pure-form input[type=color]:focus,.pure-form select:focus,.pure-form textarea:focus{outline:0;border-color:#129FEA}
.pure-form input:not([type]):focus{outline:0;border-color:#129FEA}
.pure-form input[type=file]:focus,.pure-form input[type=radio]:focus,.pure-form input[type=checkbox]:focus{outline:thin solid #129FEA;outline:1px auto #129FEA}
.pure-form .pure-checkbox,.pure-form .pure-radio{margin:.5em 0;display:block}
.pure-form input[type=text][disabled],.pure-form input[type=password][disabled],.pure-form input[type=email][disabled],.pure-form input[type=url][disabled],.pure-form input[type=date][disabled],.pure-form input[type=month][disabled],.pure-form input[type=time][disabled],.pure-form input[type=datetime][disabled],.pure-form input[type=datetime-local][disabled],.pure-form input[type=week][disabled],.pure-form input[type=number][disabled],.pure-form input[type=search][disabled],.pure-form input[type=tel][disabled],.pure-form input[type=color][disabled],.pure-form select[disabled],.pure-form textarea[disabled]{cursor:not-allowed;background-color:#eaeded;color:#cad2d3}
.pure-form input:not([type])[disabled]{cursor:not-allowed;background-color:#eaeded;color:#cad2d3}
.pure-form input[readonly],.pure-form select[readonly],.pure-form textarea[readonly]{background-color:#eee;color:#777;border-color:#ccc}
.pure-form input:focus:invalid,.pure-form textarea:focus:invalid,.pure-form select:focus:invalid{color:#b94a48;border-color:#e9322d}
.pure-form input[type=file]:focus:invalid:focus,.pure-form input[type=radio]:focus:invalid:focus,.pure-form input[type=checkbox]:focus:invalid:focus{outline-color:#e9322d}
.pure-form select{height:2.25em;border:1px solid #ccc;background-color:#fff}
.pure-form select[multiple]{height:auto}
.pure-form label{margin:.5em 0 .2em}
.pure-form fieldset{margin:0;padding:.35em 0 .75em;border:0}
.pure-form legend{display:block;width:100%;padding:.3em 0;margin-bottom:.3em;color:#333;border-bottom:1px solid #e5e5e5}
.pure-form-stacked input[type=text],.pure-form-stacked input[type=password],.pure-form-stacked input[type=email],.pure-form-stacked input[type=url],.pure-form-stacked input[type=date],.pure-form-stacked input[type=month],.pure-form-stacked input[type=time],.pure-form-stacked input[type=datetime],.pure-form-stacked input[type=datetime-local],.pure-form-stacked input[type=week],.pure-form-stacked input[type=number],.pure-form-stacked input[type=search],.pure-form-stacked input[type=tel],.pure-form-stacked input[type=color],.pure-form-stacked input[type=file],.pure-form-stacked select,.pure-form-stacked label,.pure-form-stacked textarea{display:block;margin:.25em 0}
.pure-form-stacked input:not([type]){display:block;margin:.25em 0}
.pure-form-aligned input,.pure-form-aligned textarea,.pure-form-aligned select,.pure-form-aligned .pure-help-inline,.pure-form-message-inline{display:inline-block;*display:inline;*zoom:1;vertical-align:middle}
.pure-form-aligned textarea{vertical-align:top}
.pure-form-aligned .pure-control-group{margin-bottom:.5em}
.pure-form-aligned .pure-control-group label{text-align:right;display:inline-block;vertical-align:middle;width:10em;margin:0 1em 0 0}
.pure-form-aligned .pure-controls{margin:1.5em 0 0 11em}
.pure-form input.pure-input-rounded,.pure-form .pure-input-rounded{border-radius:2em;padding:.5em 1em}
.pure-form .pure-group fieldset{margin-bottom:10px}
.pure-form .pure-group input,.pure-form .pure-group textarea{display:block;padding:10px;margin:0 0 -1px;border-radius:0;position:relative;top:-1px}
.pure-form .pure-group input:focus,.pure-form .pure-group textarea:focus{z-index:3}
.pure-form .pure-group input:first-child,.pure-form .pure-group textarea:first-child{top:1px;border-radius:4px 4px 0 0;margin:0}
.pure-form .pure-group input:first-child:last-child,.pure-form .pure-group textarea:first-child:last-child{top:1px;border-radius:4px;margin:0}
.pure-form .pure-group input:last-child,.pure-form .pure-group textarea:last-child{top:-2px;border-radius:0 0 4px 4px;margin:0}
.pure-form .pure-group button{margin:.35em 0}
.pure-form .pure-input-1{width:100%}
.pure-form .pure-input-2-3{width:66%}
.pure-form .pure-input-1-2{width:50%}
.pure-form .pure-input-1-3{width:33%}
.pure-form .pure-input-1-4{width:25%}
.pure-form .pure-help-inline,.pure-form-message-inline{display:inline-block;padding-left:.3em;color:#666;vertical-align:middle;font-size:.875em}
.pure-form-message{display:block;color:#666;font-size:.875em}@media only screen and (max-width :480px){.pure-form button[type=submit]{margin:.7em 0 0}
.pure-form input:not([type]),.pure-form input[type=text],.pure-form input[type=password],.pure-form input[type=email],.pure-form input[type=url],.pure-form input[type=date],.pure-form input[type=month],.pure-form input[type=time],.pure-form input[type=datetime],.pure-form input[type=datetime-local],.pure-form input[type=week],.pure-form input[type=number],.pure-form input[type=search],.pure-form input[type=tel],.pure-form input[type=color],.pure-form label{margin-bottom:.3em;display:block}
.pure-group input:not([type]),.pure-group input[type=text],.pure-group input[type=password],.pure-group input[type=email],.pure-group input[type=url],.pure-group input[type=date],.pure-group input[type=month],.pure-group input[type=time],.pure-group input[type=datetime],.pure-group input[type=datetime-local],.pure-group input[type=week],.pure-group input[type=number],.pure-group input[type=search],.pure-group input[type=tel],.pure-group input[type=color]{margin-bottom:0}
.pure-form-aligned .pure-control-group label{margin-bottom:.3em;text-align:left;display:block;width:100%}
.pure-form-aligned .pure-controls{margin:1.5em 0 0}
.pure-form .pure-help-inline,.pure-form-message-inline,.pure-form-message{display:block;font-size:.75em;padding:.2em 0 .8em}}